@tailwind base;
@tailwind components;
@tailwind utilities;

#plasmo-shadow-container {
  z-index: unset !important;
  font-family: "Inter", sans-serif;
  color-scheme: dark;
}

#plasmo-shadow-container [type="search"]::-webkit-search-cancel-button {
  display: none;
}

* {
  user-select: none;
}
