.searchsen-button:hover {
    background-color: var(--color-background-button-text-hover);
    color: var(--color-fill-button-icon-hover);
}

.searchsen-button {
    border-radius: 4.5px;
    padding: 5px;
    user-select: none;
}

.searchsen-container {
    background: #232323;
    border: 1px solid #434343;
    border-radius: 5px;
    width: 27%;
    height: 440px;
    position: absolute;
    margin: auto;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: auto;
    flex-direction: column;
    z-index: 99999999999;
    font-size: 14px;
    color: #efeff1;
}

.searchsen-logo-top {
    padding: 4px;
    cursor: move;
    text-align: center;
    font-weight: 600;
}

.searchsen-logo-top > span {
    position: absolute;
    right: 0.75rem;
    cursor: pointer;
    color: #c1c1c1;
}

.searchsen-menu-logo {
    right: unset!important;
    left: 0.75rem;
    font-size: 20px;
    line-height: 1;
}

.searchsen-menu {
    background: #18181b;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

.searchsen-search {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid #565656b8;
}

.searchsen-search > input {
    flex: 1;
    border-radius: 4px;
    background: transparent;
    color: white;
    border-style: solid;
    border-width: 0;
    box-shadow: inset 0 0 0 1px #565656b8;
    padding: 7px;
    min-width: 0;
}

.searchsen-search > input:focus-visible {
    outline-offset: -1px;
    border-color: rgb(144 72 255);
    outline: solid 2px rgb(144 72 255);
}

.searchsen-search > input:hover {
    box-shadow: inset 0 0 0 2px #565656b8;
}

.searchsen-search > input:disabled:hover {
    box-shadow: inset 0 0 0 1px #565656b8;
}

.searchsen-search > button {
    background: rgb(144 72 255);
    font-size: 11px;
    padding: 7px;
    border-radius: 4.5px;
    font-weight: 600;
    min-width: 58px;
    width: 15%;
    text-align: center;
    transition: 0.1s ease-in-out;
    box-shadow: inset 0 0 0 1px rgb(164 103 255);
    border-width: 0;
    border-style: solid;
}

.searchsen-search > button:hover {
    background: rgb(118 45 232);
}

.searchsen-search > button:active {
    transform: translateY(1px);
}

.searchsen-search > button:disabled,.searchsen-search > button[disabled] {
    background-color: #cccccc;
    color: #666666;
    cursor: default;
    box-shadow: inset 0 0 0 1px #565656b8;
}

.searchsen-search > button:disabled:active,.searchsen-search > button[disabled]:active {
    transform: none;
}

.searchsen-results {
    color-scheme: dark;
}

.searchsen-result-box {
    cursor: pointer;
    padding: 5px;
    transition: 0.1s ease-in-out;
    word-wrap: break-word;
}

.searchsen-result-box:hover, .searchsen-menu > div:hover, .searchsen-menu > label > span:hover {
    background-color: #313030;
}

.searchsen-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0.8;
    gap: 10px;
}

.searchsen-loader > svg {
    width: 67px;
    height: 67px;
}

.searchsen-menu > label {
    display: flex;
    align-items: center;
    gap: 4px;
    width: fit-content;
}

.searchsen-menu > label > span {
    font-size: 13px;
    user-select: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    border-radius: 4px;
    padding: 0px 3px;
}

.searchsen-menu > div {
    font-size: 13px;
    cursor: pointer;
    user-select: none;
    width: fit-content;
    transition: 0.1s ease-in-out;
    border-radius: 4px;
    padding: 0px 3px;
}
